frontend/node_modules/
backend/venv/
model/
backend/__pycache__/
__pycache__/
*.py[cod]
backend/.env
backend/app/tests
frontend/.env
.env
.env.*
!.env.example
main.pdf
.gitignore
IWIN 2026 Final Paper.pdf
Conference Management Toolkit - View review.pdf
predictions_rows.csv
